@import url("https://fonts.googleapis.com/css?family=DM Sans:300,400,500&display=swap");
* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #f8e9dd;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}
h1,
h2,
h4 {
  margin-bottom: 0;
  margin-top: 0;
  color: #382314;
}
h2 {
  font-size: 25px;
}
p {
  margin-bottom: 0;
  margin-top: 0;
  color: #93867b;
}
hr.solid {
  width: 100%;
  border: 0;
  border-top: 1px solid rgba(147,134,123,0.15);
  margin: 1.5em 0 1.5em 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 420px;
  min-width: 340px;
  width: 90vw;
  border-radius: 10px;
  padding: 1.5em 1.75em 1.5em 1.25em;
  margin-bottom: 0.75em;
}
.balance {
  background-color: #fc6c56;
  color: #fff;
}
.balance img {
  max-width: 22%;
}
.current-balance {
  display: flex;
  flex-direction: column;
}
.current-balance h2 {
  font-size: 25px;
  margin-top: 0.25em;
  color: #fff;
}
.current-balance p {
  font-size: 15px;
  color: #fff;
}
.review {
  background-color: #fff;
  flex-direction: column;
  align-items: start;
}
.review h2 {
  margin-bottom: 0.5em;
}
.diagram {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: end;
}
.weekdays {
  font-size: 12px;
  color: #93867b;
  text-align: center;
  max-width: 30px;
}
.stick {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stick-icon {
  background-color: #fc6c56;
  border-radius: 5px;
  width: 38px;
  min-width: 32px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  z-index: 1;
}
@media screen and (max-width: 460px) {
  .stick-icon {
    width: 32px;
  }
}
.stick-icon:hover {
  background-color: rgba(252,108,86,0.62);
}
.stick-icon:focus {
  background-color: #76b5bc;
}
.info-stick {
  background-color: #fff;
  color: #fff;
  text-align: center;
  font-size: 13px;
  padding: 0.55em;
  border-radius: 5px;
  z-index: 0;
}
@media screen and (max-width: 460px) {
  .info-stick {
    font-size: 11px;
    padding: 0.4em;
    border-radius: 10px;
  }
}
.month-review {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.month-review-total h1 {
  font-size: 32px;
}
.month-review-total p {
  color: #93867b;
  margin-bottom: 0.25em;
}
.last-month-compare {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}
