@import url("https://fonts.googleapis.com/css?family=DM Sans:300,400,500&display=swap");
* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #f8e9dd;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 420px;
  min-width: 340px;
  width: 90vw;
  border-radius: 10px;
  padding: 1.5em 1.75em 1.5em 1.25em;
  margin-bottom: 0.75em;
}
.balance {
  background-color: #fc6c56;
  color: #fff;
}
.balance img {
  max-width: 22%;
}
.current-balance {
  display: flex;
  flex-direction: column;
}
.current-balance h1 {
  font-size: 25px;
  margin-top: 0.25em;
  margin-bottom: 0;
}
.current-balance span {
  font-size: 15px;
}
.week-review {
  background-color: #fff;
  flex-direction: column;
  align-items: start;
}
.week-review h1 {
  font-size: 24px;
  margin-top: 0;
}
.diagram {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  align-items: end;
}
.weekdays {
  font-size: 12px;
  color: #93867b;
  text-align: center;
  max-width: 30px;
}
.stick {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row-start: 1;
}
.stick.mon {
  grid-column-start: 1;
  grid-column-end: 4;
}
.stick.tue {
  grid-column-start: 3;
  grid-column-end: 6;
}
.stick.wed {
  grid-column-start: 5;
  grid-column-end: 8;
}
.stick.thu {
  grid-column-start: 7;
  grid-column-end: 10;
}
.stick.fri {
  grid-column-start: 9;
  grid-column-end: 12;
}
.stick.sat {
  grid-column-start: 11;
  grid-column-end: 14;
}
.stick.sun {
  grid-column-start: 13;
  grid-column-end: 16;
}
.stick-icon {
  background-color: #fc6c56;
  border-radius: 5px;
  width: 38px;
  min-width: 32px;
  margin-top: 0.5em;
  z-index: 1;
}
@media screen and (max-width: 425px) {
  .stick-icon {
    width: 32px;
  }
}
.stick-icon:hover {
  background-color: rgba(252,108,86,0.62);
}
.stick-icon:focus {
  background-color: #76b5bc;
}
.info-stick {
  background-color: #fff;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 0.55em;
  border-radius: 5px;
  z-index: 0;
}
@media screen and (max-width: 425px) {
  .info-stick {
    font-size: 11px;
    padding: 0.4em;
    border-radius: 10px;
  }
}
