@import url("https://fonts.googleapis.com/css?family=DM Sans:300,400,500&display=swap");
* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #f8e9dd;
  font-family: 'DM Sans', sans-serif;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}
.current-balance-box {
  display: flex;
  background-color: #fc6c56;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  max-width: 500px;
  width: 90vw;
  border-radius: 10px;
  padding: 1.5em 1.75em 1.5em 1.25em;
}
.current-balance-box img {
  max-width: 22%;
}
.current-balance {
  display: flex;
  flex-direction: column;
}
.current-balance h1 {
  font-size: 25px;
  margin-top: 0.25em;
  margin-bottom: 0;
}
.current-balance span {
  font-size: 15px;
}
