@import 'colors.styl'

.balance
  background-color soft-red
  color: pale-orange

  img
    max-width 22%


.current-balance
  display flex
  flex-direction column

  h2
    font-size 25px
    margin-top: 0.25em
    color: white

  p
    font-size 15px
    color: white