@import 'colors.styl'

.current-balance-box
  display flex
  background-color soft-red
  justify-content space-between
  align-items center
  color: pale-orange
  max-width 500px
  width: 90vw
  border-radius: 10px
  padding: 1.5em 1.75em 1.5em 1.25em

  img
    max-width 22%


.current-balance
  display flex
  flex-direction column

  h1
    font-size 25px
    margin-top: 0.25em
    margin-bottom: 0

  span
    font-size 15px