@import 'colors.styl'

.balance
  background-color soft-red
  color: pale-orange

  img
    max-width 22%


.current-balance
  display flex
  flex-direction column

  h1
    font-size 25px
    margin-top: 0.25em
    margin-bottom: 0

  span
    font-size 15px