.box
  display flex
  justify-content space-between
  align-items center
  max-width 420px
  min-width: 340px
  width: 90vw
  border-radius: 10px
  padding: 1.5em 1.75em 1.5em 1.25em
  margin-bottom: 0.75em