cream = hsl(27, 66%, 92%)
soft-red = #FC6C56
light-soft-red = rgba(252, 108, 86, 0.62)
pale-orange = hsl(32, 10%, 100%)
medium-brown = hsl(28, 10%, 53%)
dark-brown = hsl(25, 47%, 15%)
cyan = hsl(186, 34%, 60%)