@import 'functions.styl'
@import 'colors.styl'

*
  box-sizing border-box

body
  full-viewport-center()
  background-color: cream
  font-family: 'DM Sans', sans-serif
  font-size: 16px

h1, h2, h4
  margin-bottom 0
  margin-top 0
  color: dark-brown

h2
  font-size 25px

p
  margin-bottom: 0
  margin-top 0
  color: medium-brown

hr.solid
  width 100%
  border 0
  border-top 1px solid rgba(147, 134, 123, 0.15)
  margin: 1.5em 0 1.5em 0