@import 'colors.styl'

.review
  background-color white
  flex-direction column
  align-items start
  h1
    font-size 24px
    margin-top 0
    margin-bottom 0.5em

.diagram
  width 100%
  display grid
  grid-template-columns: repeat(7, 1fr);
  align-items end

.weekdays
  font-size 12px
  color medium-brown
  text-align center
  max-width: 30px

.stick
  display flex
  flex-direction column
  align-items center

.stick-icon
  background-color soft-red
  border-radius 5px
  width 38px
  min-width 32px
  margin-top 0.5em
  margin-bottom: 0.5em
  z-index 1

@media screen and (max-width: 460px)
  .stick-icon
    width: 32px

.stick-icon:hover
  background-color light-soft-red

.stick-icon:focus
  background-color cyan

.info-stick
  background-color white
  color: white
  text-align center
  font-size: 13px
  padding: 0.55em
  border-radius 5px
  z-index: 0

@media screen and (max-width: 460px)
  .info-stick
    font-size: 11px
    padding: 0.4em
    border-radius 10px

.month-review
  display flex
  justify-content: space-between
  width: 100%

.month-review-total
  h1
    font-size 32px
    margin-bottom 0

  p
    color: medium-brown
    margin-bottom: 0.25em

.last-month-compare
  display flex
  flex-direction column
  align-items: end

